@use './styles/theme';
@use './styles/dark';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--color-on-surface);
  background-color: #303030;
}
