
labs-photo {
  --items-per-row: 3;
  --gap-sum: calc(1rem * calc(var(--items-per-row) - 1));
  width: calc((100vw - 2rem/* host padding */ - var(--gap-sum)) / var(--items-per-row));
}


:host {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
